$brightBlue: hsl(220, 98%, 61%);
$backGradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// Light Theme

$veryLightGray: hsl(0, 0%, 98%);
$veryLightGrayishBlue: hsl(236, 33%, 92%); // E3E4F1
$lightGrayishBlue: hsl(233, 11%, 84%); // D1D2DA
$darkGrayishBlue_light: hsl(236, 9%, 61%); // 9495A5
$veryDarkGrayishBlue_light: hsl(235, 19%, 35%); //494C6B

// Dark Theme

$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%); // 25273D
$lightGrayishBlue: hsl(234, 39%, 85%); // C8CBE7
$lightGrayishHover: hsl(236, 33%, 92%);
$darkGrayishBlue_dark: hsl(234, 11%, 52%); // 767992
$veryDarkGrayishBlue: hsl(233, 14%, 35%); // 4D5067
$veryDarkGrayishBlue_dark: hsl(237, 14%, 26%); //393A4B
$darkGrey: hsl(235,16%,43%); // 5B5E7E