@import 'vars';

section#body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    .create {
        position: relative;

        .circle-check {
            position: absolute;
            top: 14px;
            left: 20px;
        }
    
        input[type=text]#name {
            height: 48px;
            width: calc(100% - 52px);
            padding-left: 52px;
            font-size: 12px;
            line-height: 12px;
            border-radius: 5px;
            border: none;
            letter-spacing: -0.17px;

            &:focus {
                outline: none;
            }
        }
        button.btn-sub {
            display: none;
        }
    }

    .todo-list {
        .list {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: -0.17px;

            &.list-grid {
                padding: 16px 20px;
                display: grid;
                grid-template-columns: 20px auto 12px;
                grid-template-rows: 20px;
            }

            &.list-info {
                &.list-mobile {
                    padding: 16px 20px 22px;
                    display: flex;
                    justify-content: space-between;
                }
                &.list-desktop {
                    padding: 16px 24px 20px;
                    display: grid;
                    grid-template-columns: 165px 166px auto;
                    
                    .clear {
                        text-align: right;
                        color: $clearColor;
                    }
                }
            }

            &:first-child {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            &:last-child {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom: none;
            }

            .circle-check.completed {
                background: $backGradient;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .name-value {
                padding-left: 12px;
                padding-top: 3px;
                
                &.completed {
                    text-decoration: line-through;
                }
            }
        }
    }

    .filter {
        font-size: 14px;
        line-height: 14px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;

        &#mobile {
            padding: 15px 80px;
        }

        span.active {
            color: $brightBlue;
        }
    }
}
//Thème
#root {
    &.light-theme {
    
        input[type=text]#name {
            background: #FFF;
            color: $darkGrayishBlue_light;
            box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
        }

        .todo-list {
            .list {
                background: #FFF;
                color: $veryDarkGrayishBlue_light;
                border-bottom-color: $veryLightGrayishBlue;

                &.list-info {
                    color: $darkGrayishBlue_light;
                }
    
                .name-value {
                    &.active {
                        color: $veryDarkGrayishBlue_light;
                    }
                
                    &.completed {
                        color: $lightGrayishBlue;
                    }
                }
            }
        }

        .filter {
            background: #FFF;
            color: $darkGrayishBlue_light;
        }
    }

    &.dark-theme {
    
        input[type=text]#name {
            background: $veryDarkDesaturatedBlue;
            color: $darkGrayishBlue_dark;
            box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
        }

        .todo-list {
            .list {
                background: $veryDarkDesaturatedBlue;
                color: $lightGrayishBlue;
                border-bottom-color: $veryDarkGrayishBlue_dark;

                &.list-info {
                    color: $darkGrayishBlue_light;
                }
    
                .name-value {
                    &.active {
                        color: $darkGrey;
                    }
                
                    &.completed {
                        color: $veryDarkGrayishBlue;
                    }
                    
                }
            }
        }

        .filter {
            background:$veryDarkDesaturatedBlue;
            color: $darkGrey;
        }
    }
}

// Desktop
@media (min-width: 1440px) {
    section#body {
        gap: 24px;
    }
}