@import 'vars';

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;

    &.light-theme {
        background-color: $veryLightGray;
    }

    &.dark-theme {
        background-color: $veryDarkBlue;
    }

}