@import 'vars';

#root {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 327px;
    margin: 0 auto ;
    padding: 48px 24px 72px;
    background-repeat: no-repeat;
    background-position-x: center;

    .circle-check {
        height: 18px;
        width: 18px;
        border-width: 1px;
        border-style: solid;
        border-radius: 50%;
    }

    &.light-theme {
        background-color: $veryLightGray;
        background-image: url('../assets/bg-mobile-light.jpg');

        .circle-check {
            border-color: $veryLightGrayishBlue;
        }
    }

    &.dark-theme {
        background-color: $veryDarkBlue;
        background-image: url('../assets/bg-mobile-dark.jpg');

        .circle-check {
            border-color: $veryDarkGrayishBlue_dark;
        }
    }

    .pointer {
        cursor: pointer;
    }
}

@media (min-width: 1440px) {
    #root {
        width: 540px;
        padding: 70px 450px 52px;

        &.light-theme {
            background-image: url('../assets/bg-desktop-light.jpg');
        }
    
        &.dark-theme {
            background-image: url('../assets/bg-desktop-dark.jpg');
        }
    }
}